[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythainlp = "==3.0.5"
tensorflow-cpu = "==2.8.0"
flask = "==2.0.3"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
